@import 'vars';
@import 'normalize';
@include normalize();
@import 'fonts';
@import 'links';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
